.device {
	.bgfullscreen {
		background-attachment: local !important;
	}
	
	.main-header{
		background: rgba(28,20,12,0.8) !important;
	}

	.main-header .header {
		
	}
	
	.bgdotHome,.tp-rightarrow.default, .tp-leftarrow.default, .ss-box-total{display:none !important;}

    .main-header.ss-sticky.ss-on-scroll .header{
      padding: 15px 0 15px 0 !important;
    }
    .main-header .header{
      padding-top: 15px !important;
    }	
}